#container{
    display: grid;
    grid-template-areas: 
        'header'
        'column column column'
        'main'
        'footer'
    }
#header{
    background-color: cadetblue;  
    height: 2.3em;
}
#h5{
    text-align: center;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#nav{
    background-color: darkslategray;
    display: flex;
    justify-content: flex-start;
    color: white;
    border: 3px;
}

#nav > li{
    padding: 1em;
  border-right:1px solid black;
}

#footer{
    background-color: darkslategrey;   
    height: 2.3em;
    text-align: center;
}
  
#column{
    display: flex;
    width: 100%;
    height: 300px;
    }
    #column li {
        width: 100%;
    }
     h1 li{
         padding-block-start: 20px;

     }
    #Column1{
        background-color: rgb(87, 86, 86);
    }
    #Column2{
        background-color: rgb(134, 131, 131);
    }
    #Column3{       
        background-color: rgb(180, 176, 176);
    }
@media Screen  and (min-width:600%) {
    #column{
        flex-direction: column;
    }
}

    